body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(128, 128, 128, 0.535);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
header {
  text-align: center;
}
.title {
  padding: 0 1rem;
}
a{
  text-decoration: none;
  color: black;
}
.small-img {
  width: 100vw;
  border-radius: 1rem;
}
.home {
  max-width: 600px;
}
.game-image {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.game-chars {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.game-chars > div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-width: 50px;
  width: 10%;
}
.marker {
  position: absolute;
  border-radius: 100%;
  border: 3px solid green;
  height: 2rem;
  width: 2rem;
}
.game-chars > div > img.found {
  background-color: green;
  border-color: green;
}
.game-chars > div > img {
  width: 100%;
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}
.game-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  
}

.home-btn,
.form > button {
  width: 80px;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(47, 148, 220);
  border: 1px solid black;
}
.home-btn:hover {
  scale: 1.05;
}
.high-scores > .home-btn {
  margin-top: 1rem;
}
.timer {
  padding: 1rem;
  width: 80px;
}
.high-scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.836);
  width: 400px;
  border-radius: 1rem;
  border: 4px solid black;
}
.score {
  display: flex;
  justify-content: space-between;
  background-color: rgb(47, 148, 220);
  max-width: 100%;
  width: 100%;
  padding: 0rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.blur-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  height: 200%;
  width: 100%;
  backdrop-filter: blur(4px);
  padding: 100px;
  transform: translate(-50%, -50%)
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.836);
  height: 200px;
  width: 300px;
  border-radius: 1rem;
}

.form > input {
  border-radius: 0.5rem;
  height: 30px;
  text-align: center;
}

.error {
  color: red;
  padding: 0;
  margin: 0;
  border-color: red;
}